{#Stránka upozorňující na odhlášení uživatele#}

{% extends "base.html" %}

{% block content %}

    <div class="alert alert-info" role="alert">
        You have been logged out.
    </div>

    <hr>

    <blockquote class="blockquote">
        <p class="mb-0">Uplink deactivated!</p>
        <footer class="blockquote-footer">Unknown soldier</footer>
    </blockquote>

{% endblock %}