{#Základní login formulář#}

{% extends "base.html" %}

{% block content %}

    <div class="post-container-frame">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    </div>

{% endblock %}

