{#Html kód obsažený ve všech částech stránky#}
{#Obsahuje hlavičku s importy stylesheetů a top-bar stránky#}

{#Načte statický obsah stránky#}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RSC</title>
    <link rel="stylesheet" type="text/css" href="{% static "/css/styles.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

<div class="container">
    <h1>Remote Socket Control</h1>

    <hr>

    {% if not hide_user_bar %}
        <div align="right">
            {% if request.user.username %}
                <span>User: {{ request.user.username }} |</span>
                <button onclick="window.location.href='/logout/'">Logout</button>
            {% else %}
                <button onclick="window.location.href='/login/'">Login</button>
            {% endif %}
        </div>

        <hr>
    {% endif %}

    {% block content %}{% endblock %}
</div>

</body>

</html>