{#Grafické rozhraní pro interakci se zásuvkami#}

{% extends "base.html" %}

{% block content %}
    <div class="container">

        {#Projde obdržená data o zásuvkách a pro každou vytvoří prostor pro interakci#}

        {% for socket in sockets %}
            {{ socket.socket_id }}:
            {% if socket.state == True %}
                ON
            {% else %}
                OFF
            {% endif %}
            {#Html formulář#}
            <form class="   " action="." method="post">
                {#Při stiknutí tlačítka je na shodnou adresu poslán Http POST request s pařičnými daty#}
                {% csrf_token %}
                <input type="hidden" name="socket_id" value="{{ socket.socket_id }}">
                <button name="state" type="submit" value="True">ON</button>
                <button name="state" type="submit" value="">OFF</button>
            </form>
        {% endfor %}
    </div>

    <hr>

    {#Nepotřebná patička stránky#}
    <blockquote class="blockquote">
        <p class="mb-0">Chewie, we're home</p>
        <footer class="blockquote-footer">Han Solo</footer>
    </blockquote>
{% endblock %}